body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#message-container {
    width: 80%;
    max-width: 1200px;
}

#message-container div {
    /* background-color: #CCC; */
    padding: 5px;
    border: 10px solid #FFF;
    right: 0px;
    width: 85;
    border-radius: 15px;
    
}

.messageRight {
    margin-left: 10%;
    background-color: rgb(65, 121, 194);
    color: white;
}

.messageLeft {
    margin-right: 10%;
    background-color: lightgray;
    color: black;
}

.who {
    font-weight: bold;
}

#message-container dev:nth-child(2n) {
    //background-color: #FFF;
}

#send-container {
    position:fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
}

#message-input {
    flex-grow: 1;
}